@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Oswald:wght@500&family=Roboto:wght@500&display=swap');
/* rgba(139,48,127,255) purple*/

/* rgba(120,167,211,255) blue*/
* {
    box-sizing: border-box;
}
.header {
    display: flex;
    height: 700px;
    background-color: rgba(104,130,187,255);
    font-family: 'Roboto', 'Oswald', sans-serif;
}
.header-container {
    overflow: visible;
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
}
.hp-container{
    margin-left: auto;
    margin-right: auto;
}
h2 {
    letter-spacing: -3;
}
.header-section {
    padding-top: 48px;
    padding-bottom: 80px;
    background-color: transparent;
    background-image: linear-gradient(40deg, #6690c2 25%, #133865);
}

.header-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20pt;
}

.header-content {
    color: rgb(250, 250, 250);
    font-size: 30pt;
    display: flex;
    -webkit-box-pack: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.header-text {
    width: 100%;
}
.image {
    border-radius: 10px;

    -moz-box-shadow: 0 0 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

h1 {
    margin-top: 60px;
    line-height: 110%;
    letter-spacing: -2px;
    text-align: left;
}
h5 {
    margin-top: 10px;
    line-height: 32px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.dashboard-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(27, 52, 86);
}
.dashboard-container {
    /* display: block;
    overflow: hidden;
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px; */
    overflow: visible;
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
}
.dashboard-flex {
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    --webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center; */
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.dashboard-content {
    color: rgb(250, 250, 250);
    font-size: 30pt;
    display: flex;
    -webkit-box-pack: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.dashboard {
    font-size: 60px;
    letter-spacing: -1px;
    color: white;
    padding-left: 40px;
    text-align: left;
}
.description {
    color: rgb(43, 68, 136);

}
.dashboard-text {
    margin-top: 80px;
}
.dashboard-description {
    color: rgb(107, 209, 242);
}
h4 {
    line-height: 32px;
    padding-left: 40px;
    font-size: 30px;
    margin-top: 10px;
    line-height: 32px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}