.coin-info-container {
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(240deg, #1a5092 25%, #103057);
    /* background-color: rgb(63, 58, 106); */
    height: 300px;
    justify-content: space-around;
}

.coin-info-start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;

}

.coin-info-name {
    color: white;
    font-size: 50px;

}
.coin-info-image {
    display: inline-block;
    height: 200px;
}
.coin-info-data {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.coin-info-description {
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    overflow-y: scroll;
    width: 550px;

}
.coin-info-headers {
    letter-spacing: -1px;
    text-transform: uppercase;
}
.coin-info-description a {
    text-decoration: none;
    color: black;
}
.coin-info-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.coin-info-links a {
    cursor: pointer;
}
.positive {
    color: rgb(0, 205, 174)
}
.coin-graph {
    margin: 50px;
    color:rgb(61, 52, 148)
}
.coin-chart-container{
    background-color: rgb(34, 34, 34);
}