.top {
    background: url('../../../public/blur_pano.jpg');
    background-repeat: no-repeat;
}

.carousell-text {
    display: flex;
    color: rgb(255, 255, 255);
    height: 300px;
    justify-content: space-around;
    padding-top: 40px;

}
.text-heading {
    display: inline-block;
}
.carousell-header {
    text-align: left;
    font-size: 45pt;
}
.subheaer {
    display: flex;
}
.alice {
    height: 60%;
    text-decoration: none;

}
.alice-symbol {
    text-transform: uppercase;
    color: white;
    margin-top: 8px;
    text-shadow: rgb(41, 41, 41) 0px 0px 5px;


}
.link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.price {
    text-decoration: none;
    color: white;
    margin-top: 8px;
    text-shadow: rgb(41, 41, 41) 0px 0px 5px;

}
