.selected-portfolio {
    display: flex;
    justify-content: center;
}
.delete-btn {
    display: inline-block;
    align-content: center;
    align-items: center;
}

.search-portfolio {
    margin-bottom: 20px;
}